
#imgPreView {
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 0px;
  max-width: 300px;
  max-height: 300px;
}

/*
.hrSmall {
  border-width: 2px;
  border-color: darkorange;
  background-color: darkorange;
}

.hrLarge {
  border-width: 4px;
  border-color: darkorange;
  background-color: darkorange;
}
*/
.btn-primary {
  background-color: #0495c9;
  border: none;
  color: white;
  width: 120px;
  height: 40px;
  font-weight: bold;
  border-radius: 20px;

}


.btn-success {
  background-color: #4DBB96;;
  border: none;
  color: white;
  width: 120px;
  border-radius: 2px;
  height: 40px;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #4DBB96;
}




.surveyjsNextBtn   {
  background-color: #4DBB96;
  border: none;
  color: white;
  width: 120px;
  border-radius: 2px;
  height: 40px;
  font-weight: bold;
  border-radius: 20px;
}

.surveyjsNextBtn:hover,
.surveyjsNextBtn:focus,
.surveyjsNextBtn:active,
.surveyjsNextBtn.active,
.open > .dropdown-toggle.surveyjsNextBtn {
  color: #fff;
  background-color: #4DBB96;
}



.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #00b3db;
  border-color: #285e8e;
}

.submitBtn {
  border: none;
  color: white;
  background-color: #4DBB96;
  width: 120px;
  border-radius: 2px;
  height: 30px;
  font-weight: bold;
}

.submitBtn:hover,
.submitBtn:focus,
.submitBtn:active,
.submitBtn.active,
.open > .dropdown-toggle.submitBtn {
  color: #fff;
  background-color: #4DBB96;
}

.row-form {
  padding-left: 20%;
  padding-right: 20%;
}



textarea{
    resize: none;
}

.dataDiv{
    margin: 20px;
    padding: 20px;
    border-top: 3px solid #3FBB91;
    border-bottom: 0px solid #3FBB91;
}

.fa {
  margin-left: -12px;
  margin-right: 8px;
}

#homePageQueId {
  background-color:#CAF5ED;
  font-weight: bold; 
  font-size: 20px; 
  padding: 5px;
}